*{
margin: 0px;    
}
body{
    margin: 0px;
    background: #000;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
a{
    text-decoration: none;
    color: white;
    padding: 20px;
}

/* ******************** */
/* Top */
/* nav bar*/
nav{
    position: absolute;
	top: 0;
    right: 10px;
}
nav>a{
    float: right;
    display: block;   
    text-align: center;
}
/* ******************** */
/* Main */
main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}
    
main>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
main>div:hover{
    transition: 0.4s;
}
.Graphisme{
    background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.856)), url(../img/kobu-agency-csJt89dL9pE-unsplash.jpg);
    background-size: cover;
}
.Graphisme:hover{
    background: linear-gradient(rgba(0, 0, 255, 0), rgba(255, 0, 0, 0)), url(../img/kobu-agency-csJt89dL9pE-unsplash.jpg);
    background-size: cover;
    background-position-x: -50px;
}
.WebD{
    background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.856)), url(../img/online-web-design.jpg);
    background-size: cover;
}
.WebD:hover{
    background: linear-gradient(rgba(0, 0, 255, 0), rgba(255, 0, 0, 0)), url(../img/online-web-design.jpg);
    background-size: cover;
    background-position-x: -50px;
}
.Perso{
    background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.856)), url(../img/lucas-benjamin-wQLAGv4_OYs-unsplash.jpg);
    background-size: cover;
}
.Perso:hover{
    background: linear-gradient(rgba(0, 0, 255, 0), rgba(255, 0, 0, 0)), url(../img/lucas-benjamin-wQLAGv4_OYs-unsplash.jpg);
    background-size: cover;
    background-position-x: -50px;
}
.GraphismePrint{
    background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.856)), url(../img/mika-baumeister-gjPSrg4xSNM-unsplash.jpg);
    background-size: cover;
}
.GraphismePrint:hover{
    background: linear-gradient(rgba(0, 0, 255, 0), rgba(255, 0, 0, 0)), url(../img/mika-baumeister-gjPSrg4xSNM-unsplash.jpg);
    background-size: cover;
    background-position-x: -50px;
}

footer{
    padding: 20px;
    text-align: center;
    font-size: 10px;

}




/* PAGES */
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.color{
    display: flex;
    align-items: center;
    justify-content: center;
}

.color>div{
    height: 6vh;
    width: 6vh;
    border-radius: 100px;
    margin: 5px;
}
.text-lmdp{
    text-align: center;
    padding-right: 50px;
}
.PLmdp{
    margin: 30px 40px 20px auto;
}
.lmdp{
    background-color: #e7d4d0;
    color: black;
}
.img-lmdp{
    max-width: 100%;
}

.gar{
    background-color: #e7e4e5;
    color: black;
    text-align: center;
}
.img-gar{
    background-image: url(../img/59.png);
    background-size: cover;
}
.text-gar{
    padding-top: 20vh;
}

.container2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container2>img{
   max-width: 50%;
}


@media screen and (max-width :900px){
    .container{
        flex-direction: column;
        text-align: center;
    }
    .text{
        padding-top: 0px;
        margin: 0px;
    }
    .color{
        align-items: center;
        justify-content: center;
        margin: 30px;
    }
    .images{
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: auto auto;
    }
    main{
        flex-direction: column;
     }
     a{
         font-size: 12px;
     }
     main>div{
         height: 25vh;
     }
     .text-lmdp{
         text-align: center;
         padding-right: 0px;
     }
     .PLmdp{
        margin: 30px;
    }
    .img-gp{
        max-width: 100%;
    }
    
    
}



.back{
    background-color: aqua;
}